/* root values */
	/* set window values */
		:root{
			--window-padding:     19px;
			--window-roundness:   20px;
		}

	/* make body wide elements transparent */
		html, body, .appMount-2yBXZl, .appAsidePanelWrapper-ev4hlp, .notAppAsidePanel-3yzkgB, .app-3xd6d0, .app-2CXKsg, .bg-1QIAus, .layers-OrUESM.layers-1YQhyW, .layer-86YKbF.baseLayer-W6S8cY, .container-1eFtFS{
			background-color: rgba(  0,   0,   0, 0.00);
		}

	/* app padding (don't know why this works on this here element) */
		#app-mount .layer-86YKbF{
			top:    var(--window-padding);
			bottom: var(--window-padding);
			left:   var(--window-padding);
			right:  var(--window-padding);
		}

/* leftmost sidebar */
	/* custom current server bar */
		.item-2LIpTv{
			background-color: rgba(255,   0, 100, 1.00);
		}

	/* set dm button image and remove logo */
		#app-mount [data-list-item-id="guildsnav___home"]>div{
			color:      rgba(  0,   0,   0, 0.00);
			background:   url("https://raw.githubusercontent.com/TheSenatorSteven/discord-theme-upload/main/bonfire.gif") center / 150% no-repeat;
		}

	/* remove add new server button */
		.tutorialContainer-2jwoiB{
			width:      0px;
			height:     0px;
			visibility: hidden;
		}

	/* remove explore servers button */
		.listItem-3SmSlK ~ .listItem-3SmSlK{
			width:      0px;
			height:     0px;
			visibility: hidden;
		}

	/* remove background */
		.wrapper-1_HaEi.guilds-2JjMmN, .tree-3agP2X, .scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4{
			background-color: rgba(  0,   0,   0, 0.00);
		}

	/* add left border radius */
		.wrapper-1_HaEi.guilds-2JjMmN{
			border-top-left-radius:    var(--window-roundness);
			border-bottom-left-radius: var(--window-roundness);
		}

	/* a */
		.tree-3agP2X{
			height: auto;
			background-color: rgba(  0,   0,   0, 0.60);
			border-top-left-radius:    var(--window-roundness);
			border-bottom-left-radius: var(--window-roundness);
		}

	/* set background color */
		/*.wrapper-1_HaEi.guilds-2JjMmN{
			background-color: rgba(  0,   0,   0, 0.60);
		}*/

	/* add crt filter */
		.tree-3agP2X::after{
			position:        absolute;
			top:             0;
			left:            0;
			bottom:          0;
			right:           0;
			z-index:         10000;
			background:      linear-gradient(rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
			background-size: 100% 2px, 3px 100%;
			content:         "";
			pointer-events:  none;
		}

/* main content */
	/* remove chat background */
		.chat-2ZfjoI, .chatContent-3KubbW{
			background-color: rgba(  0,   0,   0, 0.60);
		}

	/* set message bar background */
		.form-3gdLxP{
			background-color: rgba( 49,  51,  56, 1.00);
		}

	/* add right border radius */
		.base-2jDfDU{
			border-top-right-radius:    var(--window-roundness);
			border-bottom-right-radius: var(--window-roundness);
		}

/* settings menu */
	/* add border radius */
		.sidebarRegionScroller-FXiQOh.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG{
			border-top-left-radius:    var(--window-roundness);
			border-bottom-left-radius: var(--window-roundness);
		}

	/* add right border radius */
		.layer-86YKbF{
			border-top-right-radius:    var(--window-roundness);
			border-bottom-right-radius: var(--window-roundness);
		}

	/* remove background */
		.layer-86YKbF, .standardSidebarView-E9Pc3j, .sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG{
			background-color: rgba(  0,   0,   0, 0.00);
		}

	/* set background transparency */
		.sidebarRegionScroller-FXiQOh.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG{
			background-color: rgba(  0,   0,   0, 0.60);
		}

	/* add crt filter */
		.sidebarRegion-1VBisG::after{
			position:        absolute;
			top:             0;
			left:            0;
			bottom:          0;
			right:           0;
			z-index:         10000;
			background:      linear-gradient(rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
			background-size: 100% 2px, 3px 100%;
			content:         "";
			pointer-events:  none;
		}









/* --------------------------------- the above are final but need proper naming --------------------------------- */









/* remove text center sidebar background (add more stuff to this one) */
	.content-yjf30S, .sidebar-1tnWFu, .container-1NXEtd, .scroller-1ox3I2.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG.customTheme-3QAYZq{
		background-color: rgba(  0,   0,   0, 0.00);
	}



/* global font colors */
	/*:root{
		--channels-default:   rgba(255, 255, 255, 1.00);
		--channels-hover:     rgba(255,   0,   0, 1.00);
		--interactive-normal: rgba(170, 170, 170, 1.00);
		--interactive-hover:  rgba(255, 255, 255, 1.00);
		--interactive-active: rgba(255, 255, 255, 1.00);
		--interactive-muted:  rgba( 80,  80,  80, 1.00);
	}*/



/* main text content remove background color */
	.base-2jDfDU, .content-1SgpWY{
		background-color: rgba(  0,   0,   0, 0.00);
	}

/* dms sidebar */
	/* hide nitro button*/
	.channel-1Shao0.container-32HW5s:nth-of-type(2){
		width:  0px;
		height: 0px;
	}



/* dm friends panel, working */

	.sidebar-1tnWFu,
	.privateChannels-oVe7HL,
	.searchBar-3TnChZ,
	.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG,
	.content-yjf30S,
	.panels-3wFtMD,
	.container-YkUktl{
		background-color: rgba(  0,   0,   0, 0.00);
	}
	.searchBar-3TnChZ{
		background-color: rgba( 43,  45,  49, 1.00);
	}
	.privateChannels-oVe7HL{
		background-color: rgba(  0,   0,   0, 0.60);
	}

	/* add crt filter */
		.privateChannels-oVe7HL::after{
			position:        absolute;
			top:             0;
			left:            0;
			bottom:          0;
			right:           0;
			z-index:         1000;
			background:      linear-gradient(rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
			background-size: 100% 2px, 3px 100%;
			content:         "";
			pointer-events:  none;
		}

	.container-YkUktl{
		background-color: rgba(  0,   0,   0, 0.00);
	}

	/* remove new group dm button*/
		.inviteToolbar-2k2nqz{
			visibility: hidden;
		}

	/* remove help button */
		.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ .anchor-1X4H4q.anchorUnderlineOnHover-wiZFZ_{
			width:  0px;
			height: 0px;
		}

/* server channel panel, not working */
	.sidebar-1tnWFu,
	.container-1NXEtd,
	.container-1-ERn5.clickable-vvKY2q,
	.container-2Y4CWj,
	.hiddenVisually-39QJv1,
	.positionedContainer-W9XtGp,
	.scroller-1ox3I2.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG.customTheme-3QAYZq,
	.unreadBotton-30jk6R.unread-XRkyaQ.container-1qIct8,
	.panels-3wFtMD{
		background-color: rgba(  0,   0,   0, 0.00);
	}

/* set center sidebar bottom left radius */
	.sidebar-1tnWFu{
		border-bottom-left-radius: var(--window-roundness);
	}
